In [3]:
import pandas as pd
import numpy as np
import numpy as np

In [4]:
ad = pd.read_csv('apple-production.csv')

In [5]:
ad

,Entity,Code,Year,Crops - Apples - 515 - Production - 5510 - tonnes
0,Afghanistan,AFG,1961,15100
1,Afghanistan,AFG,1962,15100
2,Afghanistan,AFG,1963,15100
3,Afghanistan,AFG,1964,18400
4,Afghanistan,AFG,1965,20400
...,...,...,...,...
6193,Zimbabwe,ZWE,2014,6670
6194,Zimbabwe,ZWE,2015,6644
6195,Zimbabwe,ZWE,2016,6539
6196,Zimbabwe,ZWE,2017,6502
6197,Zimbabwe,ZWE,2018,6466

In [6]:
ad['Crops - Apples - 515 - Production - 5510 - tonnes'].to_numpy()

array([15100, 15100, 15100, ...,  6539,  6502,  6466], dtype=int64)

In [7]:
ad.dtypes

Entity                                               object
Code                                                 object
Year                                                  int64
Crops - Apples - 515 - Production - 5510 - tonnes     int64
dtype: object

In [8]:
(ad['Entity'] == 'Poland').sum()

58

In [9]:
sad = ad.groupby('Entity').agg(Summarised_apple_production = ('Crops - Apples - 515 - Production - 5510 - tonnes', np.sum))

In [10]:
sad.max()

Summarised_apple_production    2731467611
dtype: int64

In [11]:
sad

              Summarised_apple_production
Entity
Afghanistan                       2260156
Africa                           68806629
Albania                           1483209
Algeria                           7096529
Americas                        412217160
...                                   ...
Western Asia                    142074924
World                          2731467611
Yemen                              299943
Yugoslavia                       12494818
Zimbabwe                           289940

[129 rows x 1 columns]

In [12]:
sadtw = sad/2731467611

In [13]:
sadtw

              Summarised_apple_production
Entity
Afghanistan                      0.000827
Africa                           0.025190
Albania                          0.000543
Algeria                          0.002598
Americas                         0.150914
...                                   ...
Western Asia                     0.052014
World                            1.000000
Yemen                            0.000110
Yugoslavia                       0.004574
Zimbabwe                         0.000106

[129 rows x 1 columns]

In [61]:
perc_ap = sadtw.sort_values('Summarised_apple_production')

In [63]:
perc_ap.tail

<bound method NDFrame.tail of               Summarised_apple_production
Entity
Reunion                          0.000001
Honduras                         0.000002
Malta                            0.000004
Palestine                        0.000008
Montenegro                       0.000010
...                                   ...
China                            0.282175
Eastern Asia                     0.321565
Europe                           0.366485
Asia                             0.443578
World                            1.000000

[129 rows x 1 columns]>

In [66]:
name_ap = sadtw.sort_values('Summarised_apple_production')

In [71]:
np_name_ap = name_ap.to_numpy()

In [69]:
names = ["Turkey", "Italy", "Low Income Food Deficit Countries", "South America", "France", "Western Asia", "USSR", "Souther Asia", "Southern Europe", "United States", "Northern America", "Western Europe", "Americas", "Eastern Europe", "European Union", "China", "Eastern Asia", "Europe", "Asia", "World"]

In [72]:
np_name_ap[109:129]

array([[0.03760154],
       [0.04522474],
       [0.04813611],
       [0.04883675],
       [0.04989476],
       [0.05201413],
       [0.05926008],
       [0.06024523],
       [0.08152291],
       [0.08345913],
       [0.09296665],
       [0.1126196 ],
       [0.15091417],
       [0.15945525],
       [0.25629423],
       [0.28217459],
       [0.32156535],
       [0.36648474],
       [0.44357828],
       [1.        ]])